In [0]:
#@title Default title text
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
path = "./drive/My Drive/Data/df_all.csv" #path 是文件路径

In [0]:
from uutils import data_importer

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
gdf = data_importer(path)

Importing data...

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Import complete! Wait a little moment for some other settings...
All complete!

In [0]:
gdf

                   datetime  altitude  ...  acceleration                    geometry
0       2008-03-28 14:54:40    -777.0  ...  0.000000e+00  POINT (116.31820 39.89418)
1       2008-03-28 14:55:14    -777.0  ...  2.191826e-01  POINT (116.32113 39.89451)
2       2008-03-28 14:56:13    -777.0  ...  5.177485e-03  POINT (116.32645 39.89495)
3       2008-03-28 14:57:12    -777.0  ...  1.856231e-02  POINT (116.33254 39.89460)
4       2008-03-28 14:58:11    -777.0  ...  4.340816e-02  POINT (116.33704 39.88962)
...                     ...       ...  ...           ...                         ...
5351928 2008-11-29 02:29:29     289.0  ... -2.795354e-02  POINT (116.41197 40.02932)
5351929 2008-11-29 02:29:31     275.0  ...  5.491364e-03  POINT (116.41196 40.02911)
5351930 2008-11-29 02:29:33     274.0  ... -6.112673e-02  POINT (116.41196 40.02890)
5351931 2008-11-29 02:29:35     274.0  ... -2.061781e-07  POINT (116.41196 40.02870)
5351932 2008-11-29 02:43:37     333.0  ...  0.000000e+00  POINT (116.41204 39.96771)

[5351933 rows x 11 columns]

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
print(gdf['mode'].unique())

['train' 'taxi' 'walk' 'bus' 'subway' 'airplane' 'car' 'bike' 'boat' 'run'
 'motorcycle']

In [0]:
# Separat independent features and dependant feature(target)

feature1 = gdf.columns[1]
feature2 = gdf.columns[8]
feature3 = gdf.columns[9]
feature4 = gdf.columns[3]
feature5 = gdf.columns[4]           # SepalLengthCm	SepalWidthCm	PetalLengthCm	PetalWidthCm	
target = gdf.columns[5]                      # Species 这里的features 对应选取多少个列，3，4，5，

print('Features:',feature1,feature2,feature3,feature4,feature5)
print('Target:',target)

# store feature matrix in "X"
X = gdf.iloc[:,[1,3,4,8,9]]                  # slicing: all rows and 1 to 2 cols （slicing:限制 这里选取对应的列，3个或4个，5个也行

# store response vector in "y"      
y = gdf.iloc[:,5]                            # slicing: all rows and 5th col 选取Mode 的列


print(X)
print(y.shape)

Features: altitude speed acceleration latitude longitude
Target: mode
         altitude   latitude   longitude      speed  acceleration
0          -777.0  39.894178  116.318200   0.000000  0.000000e+00
1          -777.0  39.894505  116.321132  26.827954  2.191826e-01
2          -777.0  39.894953  116.326452  27.927652  5.177485e-03
3          -777.0  39.894600  116.332542  31.870287  1.856231e-02
4          -777.0  39.889622  116.337040  41.090180  4.340816e-02
...           ...        ...         ...        ...           ...
5351928     289.0  40.029320  116.411975  41.772572 -2.795354e-02
5351929     275.0  40.029111  116.411963  41.812110  5.491364e-03
5351930     274.0  40.028904  116.411962  41.371997 -6.112673e-02
5351931     274.0  40.028697  116.411961  41.371996 -2.061781e-07
5351932     333.0  39.967705  116.412042   0.000000  0.000000e+00

[5351933 rows x 5 columns]
(5351933,)

In [0]:
# Convert response variable 'Species' to numbers and add this column  这里改个名字就行了，df改成gdf
# Necessary for the model training in the next step 

# Read more: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)

# new col
gdf['EncodedSpecies'] = y

print('Classes:',le.classes_)
print('Response variable after encoding:',y)
gdf.head(10)

Classes: ['airplane' 'bike' 'boat' 'bus' 'car' 'motorcycle' 'run' 'subway' 'taxi'
 'train' 'walk']
Response variable after encoding: [9 9 9 ... 7 7 7]

             datetime  altitude  ...                    geometry  EncodedSpecies
0 2008-03-28 14:54:40    -777.0  ...  POINT (116.31820 39.89418)               9
1 2008-03-28 14:55:14    -777.0  ...  POINT (116.32113 39.89451)               9
2 2008-03-28 14:56:13    -777.0  ...  POINT (116.32645 39.89495)               9
3 2008-03-28 14:57:12    -777.0  ...  POINT (116.33254 39.89460)               9
4 2008-03-28 14:58:11    -777.0  ...  POINT (116.33704 39.88962)               9
5 2008-03-28 14:59:10    -777.0  ...  POINT (116.33835 39.88209)               9
6 2008-03-28 15:00:10    -777.0  ...  POINT (116.33846 39.87387)               9
7 2008-03-28 15:01:09    -777.0  ...  POINT (116.33806 39.86518)               9
8 2008-03-28 15:02:08    -777.0  ...  POINT (116.33771 39.85540)               9
9 2008-03-28 15:03:07    -777.0  ...  POINT (116.33436 39.84453)               9

[10 rows x 12 columns]

In [0]:
# Split X and y into training and testing sets

# Read more: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=4) #0.4 表示4—6分。取40% 
# 0.4这里改成0.1或0.2

In [0]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import preprocessing
from sklearn.model_selection  import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [0]:
# alternative logistic regression model
# Training 
# import the class 没有什么可改的
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

X_scaled = preprocessing.scale(X_train)

# fit the model with data
logreg.fit(X_scaled, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#Evaluation classification accuracy
from sklearn import metrics

y_pred = logreg.predict(X_test)

metrics.accuracy_score(y_pred, y_test)

0.19042440685059997

In [0]:
#####myList = [i for i in range(1, 10, 2)]
###myList

[1, 3, 5, 7, 9]