# Import Data

In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np
from datetime import datetime
import glob
import sys

import utils

In [3]:
import math
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.python.framework import ops

In [4]:
path = "./df_all.csv"

In [6]:
gdf = utils.data_importer(path)

Importing data...

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

Import complete! Wait a little moment for some other settings...
All complete!

In [7]:
gdf

,datetime,altitude,days_elapsed,latitude,longitude,mode,user_id,distance,speed,acceleration,geometry
0,2008-03-28 14:54:40,-777.0,39535.621296,39.894178,116.318200,train,010,0.000000,0.000000,0.000000e+00,POINT (116.31820 39.89418)
1,2008-03-28 14:55:14,-777.0,39535.621690,39.894505,116.321132,train,010,253.375124,26.827954,2.191826e-01,POINT (116.32113 39.89451)
2,2008-03-28 14:56:13,-777.0,39535.622373,39.894953,116.326452,train,010,457.703187,27.927652,5.177485e-03,POINT (116.32645 39.89495)
3,2008-03-28 14:57:12,-777.0,39535.623056,39.894600,116.332542,train,010,522.318591,31.870287,1.856231e-02,POINT (116.33254 39.89460)
4,2008-03-28 14:58:11,-777.0,39535.623738,39.889622,116.337040,train,010,673.422399,41.090180,4.340816e-02,POINT (116.33704 39.88962)
5,2008-03-28 14:59:10,-777.0,39535.624421,39.882090,116.338353,train,010,843.803760,51.486331,4.894610e-02,POINT (116.33835 39.88209)
6,2008-03-28 15:00:10,-777.0,39535.625116,39.873873,116.338455,train,010,912.394041,54.743642,1.508015e-02,POINT (116.33846 39.87387)
7,2008-03-28 15:01:09,-777.0,39535.625799,39.865182,116.338058,train,010,965.577796,58.916611,1.964675e-02,POINT (116.33806 39.86518)
8,2008-03-28 15:02:08,-777.0,39535.626481,39.855403,116.337710,train,010,1086.189677,66.275980,3.464863e-02,POINT (116.33771 39.85540)
9,2008-03-28 15:03:07,-777.0,39535.627164,39.844532,116.334362,train,010,1240.567528,75.695646,4.434871e-02,POINT (116.33436 39.84453)
10,2008-03-28 15:04:06,-777.0,39535.627847,39.831557,116.328110,train,010,1536.815794,93.771811,8.510436e-02,POINT (116.32811 39.83156)
11,2008-03-28 15:05:06,-777.0,39535.628542,39.816622,116.322978,train,010,1715.470625,102.928238,4.239086e-02,POINT (116.32298 39.81662)
12,2008-03-28 15:06:05,-777.0,39535.629225,39.801413,116.317968,train,010,1742.314003,106.310685,1.592489e-02,POINT (116.31797 39.80141)
13,2008-03-28 15:07:04,-777.0,39535.629907,39.785400,116.311732,train,010,1856.429604,113.273671,3.278242e-02,POINT (116.31173 39.78540)
14,2008-03-28 15:08:03,-777.0,39535.630590,39.769390,116.305378,train,010,1859.076372,113.435168,7.603470e-04,POINT (116.30538 39.76939)
15,2008-03-28 15:09:02,-777.0,39535.631273,39.754487,116.299953,train,010,1718.740819,104.872321,-4.031472e-02,POINT (116.29995 39.75449)
16,2008-03-28 15:10:02,-777.0,39535.631968,39.744377,116.303840,train,010,1170.902054,70.254123,-1.602694e-01,POINT (116.30384 39.74438)
17,2008-03-28 15:11:01,-777.0,39535.632650,39.737025,116.308758,train,010,918.713659,56.057105,-6.684095e-02,POINT (116.30876 39.73703)
18,2008-03-28 15:12:37,-777.0,39535.633762,39.728613,116.314788,train,010,1067.488498,40.030819,-4.637236e-02,POINT (116.31479 39.72861)
19,2008-03-28 15:13:36,-777.0,39535.634444,39.724603,116.319220,train,010,585.325094,35.714751,-2.032047e-02,POINT (116.31922 39.72460)
20,2008-03-28 15:14:35,-777.0,39535.635127,39.720860,116.323487,train,010,553.671011,33.783316,-9.093388e-03,POINT (116.32349 39.72086)
21,2008-03-28 15:15:34,-777.0,39535.635810,39.720043,116.324422,train,010,121.059324,7.386671,-1.242780e-01,POINT (116.32442 39.72004)
22,2008-03-28 15:16:33,-777.0,39535.636493,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
23,2008-03-28 15:17:33,-777.0,39535.637187,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
24,2008-03-28 15:18:32,-777.0,39535.637870,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
25,2008-03-28 15:19:31,-777.0,39535.638553,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
26,2008-03-28 15:20:30,-777.0,39535.639236,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
27,2008-03-28 15:21:27,-777.0,39535.639896,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
28,2008-03-28 15:21:29,-777.0,39535.639919,39.720043,116.324422,train,010,0.000000,0.000000,0.000000e+00,POINT (116.32442 39.72004)
29,2008-03-28 15:22:29,-777.0,39535.640613,39.720110,116.324418,train,010,7.446862,0.446812,2.068573e-03,POINT (116.32442 39.72011)
...,...,...,...,...,...,...,...,...,...,...,...
5351903,2008-11-29 02:28:39,316.0,39781.103229,40.035250,116.410158,subway,179,34.028360,61.251048,-3.187206e-01,POINT (116.41016 40.03525)
5351904,2008-11-29 02:28:41,315.0,39781.103252,40.034994,116.410319,subway,179,31.572265,56.830077,-6.140237e-01,POINT (116.41032 40.03499)
5351905,2008-11-29 02:28:43,314.0,39781.103275,40.034739,116.410477,subway,179,31.361406,56.450531,-5.271482e-02,POINT (116.41048 40.03474)
5351906,2008-11-29 02:28:45,314.0,39781.103299,40.034498,116.410632,subway,179,29.851084,53.731951,-3.775805e-01,POINT (116.41063 40.03450)
5351907,2008-11-29 02:28:47,315.0,39781.103322,40.034265,116.410782,subway,179,28.865691,51.958243,-2.463483e-01,POINT (116.41078 40.03427)
5351908,2008-11-29 02:28:49,317.0,39781.103345,40.034032,116.410920,subway,179,28.426268,51.167283,-1.098556e-01,POINT (116.41092 40.03403)
5351909,2008-11-29 02:28:51,318.0,39781.103368,40.033799,116.411042,subway,179,27.888142,50.198656,-1.345316e-01,POINT (116.41104 40.03380)
5351910,2008-11-29 02:28:53,319.0,39781.103391,40.033556,116.411156,subway,179,28.682406,51.628331,1.985661e-01,POINT (116.41116 40.03356)
5351911,2008-11-29 02:28:55,319.0,39781.103414,40.033311,116.411255,subway,179,28.485758,51.274365,-4.916203e-02,POINT (116.41126 40.03331)
5351912,2008-11-29 02:28:57,318.0,39781.103438,40.033048,116.411356,subway,179,30.448115,54.806608,4.905893e-01,POINT (116.41136 40.03305)
5351913,2008-11-29 02:28:59,317.0,39781.103461,40.032787,116.411446,subway,179,29.981021,53.965837,-1.167737e-01,POINT (116.41145 40.03279)
5351914,2008-11-29 02:29:01,317.0,39781.103484,40.032522,116.411522,subway,179,30.130900,54.235620,3.746975e-02,POINT (116.41152 40.03252)
5351915,2008-11-29 02:29:03,317.0,39781.103507,40.032268,116.411595,subway,179,28.883033,51.989459,-3.119667e-01,POINT (116.41159 40.03227)
5351916,2008-11-29 02:29:05,317.0,39781.103530,40.032020,116.411668,subway,179,28.232878,50.819180,-1.625388e-01,POINT (116.41167 40.03202)
5351917,2008-11-29 02:29:07,317.0,39781.103553,40.031779,116.411741,subway,179,27.475335,49.455603,-1.893857e-01,POINT (116.41174 40.03178)
5351918,2008-11-29 02:29:09,314.0,39781.103576,40.031535,116.411800,subway,179,27.556656,49.601981,2.033036e-02,POINT (116.41180 40.03153)
5351919,2008-11-29 02:29:11,313.0,39781.103600,40.031295,116.411843,subway,179,26.900019,48.420033,-1.641594e-01,POINT (116.41184 40.03130)
5351920,2008-11-29 02:29:13,310.0,39781.103623,40.031067,116.411882,subway,179,25.533952,45.961114,-3.415165e-01,POINT (116.41188 40.03107)
5351921,2008-11-29 02:29:15,307.0,39781.103646,40.030847,116.411912,subway,179,24.561595,44.210871,-2.430894e-01,POINT (116.41191 40.03085)
5351922,2008-11-29 02:29:17,304.0,39781.103669,40.030624,116.411946,subway,179,24.930344,44.874619,9.218726e-02,POINT (116.41195 40.03062)
5351923,2008-11-29 02:29:19,302.0,39781.103692,40.030395,116.411975,subway,179,25.547267,45.985080,1.542307e-01,POINT (116.41197 40.03039)
5351924,2008-11-29 02:29:21,299.0,39781.103715,40.030170,116.411990,subway,179,25.015710,45.028277,-1.328893e-01,POINT (116.41199 40.03017)
5351925,2008-11-29 02:29:23,296.0,39781.103738,40.029950,116.411985,subway,179,24.431474,43.976654,-1.460589e-01,POINT (116.41199 40.02995)
5351926,2008-11-29 02:29:25,294.0,39781.103762,40.029739,116.411980,subway,179,23.432315,42.178168,-2.497897e-01,POINT (116.41198 40.02974)
5351927,2008-11-29 02:29:27,291.0,39781.103785,40.029529,116.411977,subway,179,23.318798,41.973837,-2.837923e-02,POINT (116.41198 40.02953)
5351928,2008-11-29 02:29:29,289.0,39781.103808,40.029320,116.411975,subway,179,23.206984,41.772572,-2.795354e-02,POINT (116.41197 40.02932)
5351929,2008-11-29 02:29:31,275.0,39781.103831,40.029111,116.411963,subway,179,23.228950,41.812110,5.491364e-03,POINT (116.41196 40.02911)
5351930,2008-11-29 02:29:33,274.0,39781.103854,40.028904,116.411962,subway,179,22.984443,41.371997,-6.112673e-02,POINT (116.41196 40.02890)
5351931,2008-11-29 02:29:35,274.0,39781.103877,40.028697,116.411961,subway,179,22.984442,41.371996,-2.061781e-07,POINT (116.41196 40.02870)
5351932,2008-11-29 02:43:37,333.0,39781.113623,39.967705,116.412042,subway,179,0.000000,0.000000,0.000000e+00,POINT (116.41204 39.96771)

# Task 1 - Calculate Metadata

## 1.a Number of tracks per transportation mode

In [8]:
mode_set = set(gdf['mode'].values)

In [9]:
# sort gdf according to mode and user_id
gdf = gdf.sort_values(by=['mode', 'user_id', 'datetime'])
gdf.index = [i for i in range(len(gdf))]

In [10]:
gdf

,datetime,altitude,days_elapsed,latitude,longitude,mode,user_id,distance,speed,acceleration,geometry
0,2008-08-01 06:59:38,1578.0,39661.291412,34.444730,108.749043,airplane,010,0.000000,0.000000,0.000000e+00,POINT (108.74904 34.44473)
1,2008-08-01 06:59:40,1572.0,39661.291435,34.444359,108.748628,airplane,010,56.109883,100.997789,1.402747e+01,POINT (108.74863 34.44436)
2,2008-08-01 06:59:41,1578.0,39661.291447,34.444223,108.748439,airplane,010,23.006435,82.823167,-5.048506e+00,POINT (108.74844 34.44422)
3,2008-08-01 06:59:45,1594.0,39661.291493,34.443926,108.747881,airplane,010,60.952380,54.857142,-1.942085e+00,POINT (108.74788 34.44393)
4,2008-08-01 06:59:46,1601.0,39661.291505,34.443908,108.747783,airplane,010,9.225030,33.210109,-6.013065e+00,POINT (108.74778 34.44391)
5,2008-08-01 06:59:47,1601.0,39661.291516,34.443878,108.747700,airplane,010,8.322179,29.959845,-9.028509e-01,POINT (108.74770 34.44388)
6,2008-08-01 06:59:48,1608.0,39661.291528,34.443876,108.747638,airplane,010,5.702210,20.527955,-2.619970e+00,POINT (108.74764 34.44388)
7,2008-08-01 06:59:50,1608.0,39661.291551,34.443796,108.747503,airplane,010,15.253916,27.457048,9.623741e-01,POINT (108.74750 34.44380)
8,2008-08-01 06:59:51,1611.0,39661.291563,34.443723,108.747451,airplane,010,9.402875,33.850350,1.775917e+00,POINT (108.74745 34.44372)
9,2008-08-01 06:59:52,1608.0,39661.291574,34.443653,108.747408,airplane,010,8.712850,31.366258,-6.900254e-01,POINT (108.74741 34.44365)
10,2008-08-01 06:59:53,1614.0,39661.291586,34.443604,108.747360,airplane,010,7.000363,25.201305,-1.712487e+00,POINT (108.74736 34.44360)
11,2008-08-01 06:59:54,1617.0,39661.291597,34.443548,108.747300,airplane,010,8.306361,29.902899,1.305998e+00,POINT (108.74730 34.44355)
12,2008-08-01 06:59:55,1621.0,39661.291609,34.443458,108.747235,airplane,010,11.634397,41.883830,3.328036e+00,POINT (108.74724 34.44346)
13,2008-08-01 06:59:56,1624.0,39661.291620,34.443366,108.747175,airplane,010,11.599990,41.759963,-3.440752e-02,POINT (108.74717 34.44337)
14,2008-08-01 06:59:57,1627.0,39661.291632,34.443291,108.747123,airplane,010,9.594620,34.540631,-2.005370e+00,POINT (108.74712 34.44329)
15,2008-08-01 06:59:58,1631.0,39661.291644,34.443216,108.747073,airplane,010,9.504409,34.215871,-9.021122e-02,POINT (108.74707 34.44322)
16,2008-08-01 07:00:00,1631.0,39661.291667,34.443073,108.746989,airplane,010,17.641755,31.755159,-3.417655e-01,POINT (108.74699 34.44307)
17,2008-08-01 07:00:01,1631.0,39661.291678,34.442994,108.746953,airplane,010,9.367233,33.722040,5.463559e-01,POINT (108.74695 34.44299)
18,2008-08-01 07:00:02,1627.0,39661.291690,34.442918,108.746908,airplane,010,9.390430,33.805549,2.319682e-02,POINT (108.74691 34.44292)
19,2008-08-01 07:00:03,1631.0,39661.291701,34.442855,108.746856,airplane,010,8.466343,30.478833,-9.240876e-01,POINT (108.74686 34.44286)
20,2008-08-01 07:00:04,1631.0,39661.291713,34.442770,108.746805,airplane,010,10.529764,37.907152,2.063422e+00,POINT (108.74681 34.44277)
21,2008-08-01 07:00:05,1634.0,39661.291725,34.442686,108.746748,airplane,010,10.689688,38.482876,1.599233e-01,POINT (108.74675 34.44269)
22,2008-08-01 07:00:06,1614.0,39661.291736,34.442680,108.746741,airplane,010,0.925667,3.332402,-9.764020e+00,POINT (108.74674 34.44268)
23,2008-08-01 07:00:07,1617.0,39661.291748,34.442608,108.746698,airplane,010,8.911167,32.080200,7.985499e+00,POINT (108.74670 34.44261)
24,2008-08-01 07:00:08,1617.0,39661.291759,34.442515,108.746650,airplane,010,11.220101,40.392364,2.308934e+00,POINT (108.74665 34.44252)
25,2008-08-01 07:00:10,1627.0,39661.291782,34.442346,108.746558,airplane,010,20.565684,37.018231,-4.686296e-01,POINT (108.74656 34.44235)
26,2008-08-01 07:00:11,1621.0,39661.291794,34.442261,108.746511,airplane,010,10.371368,37.336926,8.852639e-02,POINT (108.74651 34.44226)
27,2008-08-01 07:00:12,1617.0,39661.291806,34.442176,108.746464,airplane,010,10.371370,37.336932,1.703263e-06,POINT (108.74646 34.44218)
28,2008-08-01 07:00:13,1621.0,39661.291817,34.442103,108.746421,airplane,010,9.010737,32.438652,-1.360633e+00,POINT (108.74642 34.44210)
29,2008-08-01 07:00:14,1624.0,39661.291829,34.442035,108.746390,airplane,010,8.063357,29.028084,-9.473801e-01,POINT (108.74639 34.44203)
...,...,...,...,...,...,...,...,...,...,...,...
5351903,2008-11-29 02:03:15,64.0,39781.085590,40.069831,116.313336,walk,179,3.123440,5.622193,6.480479e-02,POINT (116.31334 40.06983)
5351904,2008-11-29 02:03:17,68.0,39781.085613,40.069828,116.313314,walk,179,1.906083,3.430949,-3.043394e-01,POINT (116.31331 40.06983)
5351905,2008-11-29 02:03:19,70.0,39781.085637,40.069822,116.313285,walk,179,2.562033,4.611659,1.639876e-01,POINT (116.31329 40.06982)
5351906,2008-11-29 02:03:21,73.0,39781.085660,40.069810,116.313254,walk,179,2.961219,5.330194,9.979641e-02,POINT (116.31325 40.06981)
5351907,2008-11-29 02:03:23,75.0,39781.085683,40.069798,116.313237,walk,179,1.969391,3.544904,-2.479569e-01,POINT (116.31324 40.06980)
5351908,2008-11-29 02:03:25,73.0,39781.085706,40.069783,116.313213,walk,179,2.639266,4.750678,1.674687e-01,POINT (116.31321 40.06978)
5351909,2008-11-29 02:03:27,72.0,39781.085729,40.069762,116.313198,walk,179,2.659787,4.787617,5.130346e-03,POINT (116.31320 40.06976)
5351910,2008-11-29 02:03:29,74.0,39781.085752,40.069741,116.313197,walk,179,2.333315,4.199968,-8.161795e-02,POINT (116.31320 40.06974)
5351911,2008-11-29 02:03:31,76.0,39781.085775,40.069706,116.313200,walk,179,3.894676,7.010418,3.903403e-01,POINT (116.31320 40.06971)
5351912,2008-11-29 02:03:33,77.0,39781.085799,40.069686,116.313214,walk,179,2.521496,4.538693,-3.432951e-01,POINT (116.31321 40.06969)
5351913,2008-11-29 02:03:35,78.0,39781.085822,40.069676,116.313214,walk,179,1.110360,1.998647,-3.527841e-01,POINT (116.31321 40.06968)
5351914,2008-11-29 02:03:37,79.0,39781.085845,40.069669,116.313211,walk,179,0.818301,1.472941,-7.301477e-02,POINT (116.31321 40.06967)
5351915,2008-11-29 02:03:39,79.0,39781.085868,40.069665,116.313212,walk,179,0.452262,0.814072,-9.150961e-02,POINT (116.31321 40.06967)
5351916,2008-11-29 02:03:41,78.0,39781.085891,40.069664,116.313212,walk,179,0.111036,0.199865,-8.530655e-02,POINT (116.31321 40.06966)
5351917,2008-11-29 02:03:43,79.0,39781.085914,40.069662,116.313209,walk,179,0.338839,0.609909,5.695063e-02,POINT (116.31321 40.06966)
5351918,2008-11-29 02:03:45,79.0,39781.085938,40.069660,116.313208,walk,179,0.237893,0.428208,-2.523629e-02,POINT (116.31321 40.06966)
5351919,2008-11-29 02:03:47,79.0,39781.085961,40.069658,116.313207,walk,179,0.237893,0.428208,-2.718282e-10,POINT (116.31321 40.06966)
5351920,2008-11-29 02:03:49,79.0,39781.085984,40.069656,116.313207,walk,179,0.222072,0.399729,-3.955346e-03,POINT (116.31321 40.06966)
5351921,2008-11-29 02:03:51,79.0,39781.086007,40.069653,116.313205,walk,179,0.374259,0.673667,3.804684e-02,POINT (116.31321 40.06965)
5351922,2008-11-29 02:03:53,79.0,39781.086030,40.069652,116.313204,walk,179,0.140022,0.252040,-5.855923e-02,POINT (116.31320 40.06965)
5351923,2008-11-29 02:03:55,80.0,39781.086053,40.069643,116.313196,walk,179,1.210122,2.178219,2.675248e-01,POINT (116.31320 40.06964)
5351924,2008-11-29 02:03:57,80.0,39781.086076,40.069624,116.313183,walk,179,2.383407,4.290132,2.933212e-01,POINT (116.31318 40.06962)
5351925,2008-11-29 02:03:59,80.0,39781.086100,40.069619,116.313169,walk,179,1.317033,2.370659,-2.665935e-01,POINT (116.31317 40.06962)
5351926,2008-11-29 02:04:01,80.0,39781.086123,40.069612,116.313157,walk,179,1.285321,2.313579,-7.927776e-03,POINT (116.31316 40.06961)
5351927,2008-11-29 02:04:03,80.0,39781.086146,40.069589,116.313147,walk,179,2.692539,4.846569,3.518043e-01,POINT (116.31315 40.06959)
5351928,2008-11-29 02:04:05,80.0,39781.086169,40.069559,116.313143,walk,179,3.348511,6.027320,1.639931e-01,POINT (116.31314 40.06956)
5351929,2008-11-29 02:04:07,80.0,39781.086192,40.069541,116.313136,walk,179,2.085948,3.754707,-3.156407e-01,POINT (116.31314 40.06954)
5351930,2008-11-29 02:04:09,80.0,39781.086215,40.069527,116.313129,walk,179,1.665254,2.997457,-1.051736e-01,POINT (116.31313 40.06953)
5351931,2008-11-29 02:04:11,80.0,39781.086238,40.069515,116.313123,walk,179,1.427360,2.569249,-5.947334e-02,POINT (116.31312 40.06952)
5351932,2008-11-29 02:05:43,117.0,39781.087303,40.070652,116.317385,walk,179,384.871715,15.060198,3.771422e-02,POINT (116.31739 40.07065)

In [11]:
num_tracks_per_mode = {}
for item in mode_set:
    num_tracks_per_mode[item] = 0

for i, row in gdf.iterrows():
    sys.stdout.write('\r' + str(round(i/len(gdf), 4) * 100) + ' %')
    if i == 0: continue
    last_row = gdf.iloc[i - 1]
    duration = row['datetime'] - last_row['datetime']

    if duration.seconds > 300 or row['user_id'] != last_row['user_id']:
        num_tracks_per_mode[last_row['mode']] += 1
        
    if i == len(gdf) - 1:
        num_tracks_per_mode[row['mode']] += 1

100.0 %0000000001 %%%

In [12]:
num_tracks_per_mode

{'bus': 2322,
 'walk': 5699,
 'train': 347,
 'bike': 1911,
 'motorcycle': 2,
 'airplane': 31,
 'boat': 10,
 'taxi': 564,
 'subway': 824,
 'car': 1384,
 'run': 9}

In [ ]:
der save_dict_as_df(*d_tuple, d_name):
    l1 = []
    l2 = []
    for d in d_tuple:
        for item in d.keys():
            l1.append(item)
            l2.append(d.keys)

In [32]:
l1 = []
l2 = []
for item in mode_set:
    l1.append(item)
    l2.append(num_tracks_per_mode[item])
    
df = pd.DataFrame({'mode':l1, 'num_tracks': l2})

In [35]:
df

          mode  num_tracks
0          bus        2322
1         walk        5699
2        train         347
3         bike        1911
4   motorcycle           2
5     airplane          31
6         boat          10
7         taxi         564
8       subway         824
9          car        1384
10         run           9

In [34]:
df.to_csv("./export_metadata/num_tracks_per_mode.csv", index=False)

## 1.b Distance / duration per mode

In [17]:
# distance_per_mode = {}
duration_per_mode = {}
for item in mode_set:
#     distance_per_mode[item] = np.sum(gdf.loc[gdf['mode'] == item]['distance'].values)
    duration_per_mode[item] = 0

for i, row in gdf.iterrows():
    sys.stdout.write('\r' + str(round(i/len(gdf), 4) * 100) + ' %')
    if i == 0: continue
    last_row = gdf.iloc[i - 1]
    duration = row['datetime'] - last_row['datetime']

    if duration.seconds < 300 and row['user_id'] == last_row['user_id'] and row['mode'] == last_row['mode']:
        duration_per_mode[row['mode']] += duration.seconds

100.0 %             %

In [15]:
distance_per_mode

{'bus': 17826923.224988498,
 'walk': 5764738.472144743,
 'train': 29252166.551918954,
 'bike': 6176065.856031178,
 'motorcycle': 4310.4761041197125,
 'airplane': 11454744.951627087,
 'boat': 147211.04084103712,
 'taxi': 3898703.3540432053,
 'subway': 6239671.338329123,
 'car': 23918321.07448645,
 'run': 5665.825345230953}

In [18]:
duration_per_mode

{'bus': 3252430,
 'walk': 4163439,
 'train': 1229348,
 'bike': 1970835,
 'motorcycle': 672,
 'airplane': 65832,
 'boat': 14547,
 'taxi': 501300,
 'subway': 682992,
 'car': 2299602,
 'run': 5391}

In [36]:
l1 = []
l2 = []
l3 = []
for item in mode_set:
    l1.append(item)
    l2.append(distance_per_mode[item])
    l3.append(duration_per_mode[item])
    
df = pd.DataFrame({'mode':l1, 'distance': l2, 'duration': l3})

In [37]:
df

          mode      distance  duration
0          bus  1.782692e+07   3252430
1         walk  5.764738e+06   4163439
2        train  2.925217e+07   1229348
3         bike  6.176066e+06   1970835
4   motorcycle  4.310476e+03       672
5     airplane  1.145474e+07     65832
6         boat  1.472110e+05     14547
7         taxi  3.898703e+06    501300
8       subway  6.239671e+06    682992
9          car  2.391832e+07   2299602
10         run  5.665825e+03      5391

In [38]:
df.to_csv("./export_metadata/distance_and_duration_per_mode.csv", index=False)

## 1.c Average and maximum velocity / acceleration per mode

In [19]:
average_velocity_per_mode = {}

for item in mode_set:
    average_speed = np.mean(gdf.loc[gdf['mode'] == item]['speed'])
    average_velocity_per_mode[item] = average_speed
#     print('average speed of mode {}: {} km/h'.format(item, round(average_speed, 2)))

In [20]:
average_acceleration_per_mode = {}

for item in mode_set:
    average_acceleration = np.mean(gdf.loc[gdf['mode'] == item]['acceleration'])
    average_acceleration_per_mode[item] = average_acceleration
#     print('average acceleration of mode {}: {} m/s^2'.format(item, round(average_acceleration, 5)))

In [21]:
def calculate_box_plot_characteristics(my_list: list):
    result = {}
    
    result["minimum"] = np.min(my_list)
    result["maximum"] = np.max(my_list)
    result["median"] = np.median(my_list)
    
    q1 = np.percentile(my_list, 25)
    q3 = np.percentile(my_list, 75)
    iqr = q3 - q1
    result["lower_quartile"] = q1
    result["upper_quartile"] = q3
    
    lower_whisker = q1 - 1.5 * iqr
    upper_whisker = q3 + 1.5 * iqr
    rpa_sort = np.sort(my_list)
    for i in range(len(rpa_sort)):
        if rpa_sort[i] > lower_whisker:
            result["lower_whisker"] = rpa_sort[i]
            break
    for i in reversed(range(len(rpa_sort))):
        if rpa_sort[i] < upper_whisker:
            result["upper_whisker"] = rpa_sort[i]
            break
    
    return result

In [22]:
max_velocity_per_mode = {}

for item in mode_set:
    max_velocity = calculate_box_plot_characteristics(gdf.loc[gdf['mode'] == item].speed.values)['upper_whisker']
    max_velocity_per_mode[item] = max_velocity
#     print("maximum speed of mode {} is {} km/h".format(item, round(res, 2)))

In [23]:
max_acceleration_per_mode = {}

for item in mode_set:
    max_acceleration = calculate_box_plot_characteristics(gdf.loc[gdf['mode'] == item].acceleration.values)['upper_whisker']
    max_acceleration_per_mode[item] = max_acceleration
#     print("maximum acceleration of mode {} is {} m/s^2".format(item, round(res, 5)))

In [24]:
print(average_velocity_per_mode)
print(average_acceleration_per_mode)
print(max_velocity_per_mode)
print(max_acceleration_per_mode)

{'bus': 19.941608339471003, 'walk': 4.718647333082986, 'train': 90.35677229661177, 'bike': 9.471590420760487, 'motorcycle': 22.955198187619775, 'airplane': 442.5161621871856, 'boat': 25.278574771086742, 'taxi': 26.935436399448612, 'subway': 34.5907090224766, 'car': 35.849392109396966, 'run': 6.095002786264121}
{'bus': 0.11839765481747064, 'walk': 0.07206574615180883, 'train': 0.011010023700472044, 'bike': 0.1513939177133097, 'motorcycle': 0.005881841097843947, 'airplane': 0.04442956738572093, 'boat': 0.012066155661261546, 'taxi': 0.2124856498503112, 'subway': 0.21916577966653703, 'car': 0.04841968587023291, 'run': 0.03841006543412479}
{'bus': 76.43657270376752, 'walk': 12.994231452721749, 'train': 194.51219712508342, 'bike': 32.18109517848512, 'motorcycle': 48.26157107911216, 'airplane': 1007.5236450243362, 'boat': 160.08884444948657, 'taxi': 111.95580891219092, 'subway': 154.9975009829644, 'car': 127.08131190236914, 'run': 15.9832078180004}
{'bus': 0.9120680867989258, 'walk': 0.4646348817955568, 'train': 0.9723438431222714, 'bike': 0.7108162286905604, 'motorcycle': 0.8334168479040343, 'airplane': 0.1790157403096815, 'boat': 0.19594655356012566, 'taxi': 0.9540550753342784, 'subway': 0.7613128887239206, 'car': 0.7946260593671428, 'run': 0.9631197402785606}

In [54]:
def dicts_to_csv(dicts, names, file_name):
    l = [[] for i in range(len(dicts) + 1)]
    
    for item in mode_set:
        l[0].append(item)
        for i in range(len(dicts)):
            l[i + 1].append(dicts[i][item])
    
    df_d = {}
    for i in range(len(names)):
        df_d[names[i]] = l[i]
    df = pd.DataFrame(df_d)
    df.to_csv("./export_metadata/" + file_name, index=False)
    return df

In [55]:
df = dicts_to_csv([average_velocity_per_mode, average_acceleration_per_mode, max_velocity_per_mode, max_acceleration_per_mode], 
                  ['mode', 'average_velocity', 'average_acceleration', 'max_velocity', 'max_acceleration'], 'average_and_maximum_velocity_and_acceleration_per_mode.csv')

In [56]:
df

,mode,average_velocity,average_acceleration,max_velocity,max_acceleration
0,bus,19.941608,0.118398,76.436573,0.912068
1,walk,4.718647,0.072066,12.994231,0.464635
2,train,90.356772,0.011010,194.512197,0.972344
3,bike,9.471590,0.151394,32.181095,0.710816
4,motorcycle,22.955198,0.005882,48.261571,0.833417
5,airplane,442.516162,0.044430,1007.523645,0.179016
6,boat,25.278575,0.012066,160.088844,0.195947
7,taxi,26.935436,0.212486,111.955809,0.954055
8,subway,34.590709,0.219166,154.997501,0.761313
9,car,35.849392,0.048420,127.081312,0.794626
10,run,6.095003,0.038410,15.983208,0.963120

## 1.d Average distance / duration / velocity per track per mode

In [61]:
average_distance_per_track_per_mode = {}

for item in mode_set:
    average_distance_per_track_per_mode[item] = distance_per_mode[item] / num_tracks_per_mode[item]

In [58]:
average_distance_per_track_per_mode

{'bus': 7677.400183026915,
 'walk': 1011.535088988374,
 'train': 84300.19179227365,
 'bike': 3231.850264799151,
 'motorcycle': 2155.2380520598563,
 'airplane': 369507.9016653899,
 'boat': 14721.104084103712,
 'taxi': 6912.594599367385,
 'subway': 7572.416672729519,
 'car': 17282.023897750325,
 'run': 629.5361494701059}

In [62]:
average_duration_per_track_per_mode = {}

for item in mode_set:
    average_duration_per_track_per_mode[item] = duration_per_mode[item] / num_tracks_per_mode[item]

In [63]:
average_duration_per_track_per_mode

{'bus': 1400.7019810508182,
 'walk': 730.5560624670995,
 'train': 3542.7896253602307,
 'bike': 1031.3108320251176,
 'motorcycle': 336.0,
 'airplane': 2123.6129032258063,
 'boat': 1454.7,
 'taxi': 888.8297872340426,
 'subway': 828.8737864077669,
 'car': 1661.5621387283236,
 'run': 599.0}

In [64]:
average_velocity_per_track_per_mode = {}

for item in mode_set:
    average_velocity_per_track_per_mode[item] = average_distance_per_track_per_mode[item] / average_duration_per_track_per_mode[item] * 3.6

In [65]:
average_velocity_per_track_per_mode

{'bus': 19.731992267307398,
 'walk': 4.98459530684155,
 'train': 85.66150478701574,
 'bike': 11.281429993739833,
 'motorcycle': 23.09183627206989,
 'airplane': 626.3987396077517,
 'boat': 36.43086182908734,
 'taxi': 27.997869687922478,
 'subway': 32.888843233866346,
 'car': 37.443851530895884,
 'run': 3.783522768100803}

In [66]:
df = dicts_to_csv([average_distance_per_track_per_mode, average_duration_per_track_per_mode, average_velocity_per_track_per_mode], 
                  ['mode', 'average_distance_per_track', 'average_duration_per_track', 'average_velocity_per_track'], 'average_distance_and_duration_and_velocity_per_track_per_mode.csv')

In [67]:
df

,mode,average_distance_per_track,average_duration_per_track,average_velocity_per_track
0,bus,7677.400183,1400.701981,19.731992
1,walk,1011.535089,730.556062,4.984595
2,train,84300.191792,3542.789625,85.661505
3,bike,3231.850265,1031.310832,11.281430
4,motorcycle,2155.238052,336.000000,23.091836
5,airplane,369507.901665,2123.612903,626.398740
6,boat,14721.104084,1454.700000,36.430862
7,taxi,6912.594599,888.829787,27.997870
8,subway,7572.416673,828.873786,32.888843
9,car,17282.023898,1661.562139,37.443852
10,run,629.536149,599.000000,3.783523